

body {
  margin: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
  -webkit-backface-visibility: hidden;
}

div {
  display: inline-flex;
}

.giphy-li {
  display: inline;
  padding-right: 10px;
}

img {
  border-radius: 5px;
}

.app-wrapper {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.search-bar {
  padding-bottom: 15px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
  height: 21px;
  font-size: 15px;
  font-family: 'Helvetica';
  margin-right: 2px;
  padding: 0;
  border: 1px solid lightgray;
}

button {
  padding: 6px;
  border: none;
  font-size: 10px;
}
.hover-wrapper {
position: relative;

}
.hover-wrapper:hover .hover-inner {
  display: flex;
}

.hover-inner {
  width: 100%;
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 0;
  background-color: #ff0000;
  /* overflow: hidden; */
  box-sizing: border-box;
}

.hover-inner p {
  display: inline;
  align-self: center;
  padding: 1px;
}

.hover-inner a {
  padding: 2px;
  display: inline;
    align-self: center;
}
