

body {
  margin: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

div {
  display: inline-flex;
}

.giphy-li {
  display: inline;
  padding-right: 10px;
}

img {
  border-radius: 5px;
}


form {
  margin-top: 20px;
}
input {
  width: 200px;
  height: 32px;
  font-size: 20px;
  font-family: 'Helvetica';
  margin-right: 2px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid tomato;
  border-radius: 5px;
}

button {
  padding: 6px;
  height: 32px;
  border: 1px tomato solid;
  background: goldenrod;
  border-radius: 5px;
  font-size: 14px;
  color: dodgerblue;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
}

.app-wrapper {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.search-bar {
  padding-bottom: 15px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.hover-wrapper {
position: relative;

}
.hover-wrapper:hover .hover-inner {
  display: flex;
}

.hover-inner {
  width: 100%;
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 0;
  background-color: #ff0000;
  box-sizing: border-box;
}

.hover-inner p {
  display: inline;
  align-self: center;
  padding: 1px;
}

.hover-inner a {
  padding: 2px;
  display: inline;
    align-self: center;
}

#animated_div_trend {
width:190px;
height:47px;
background: #92B901;
color: #ffffff;
position: relative;
font-weight:bold;
font-size:20px;
padding:10px;
animation:animated_div 5s 1;
animation-delay: 2s;
border-radius:5px;
-webkit-border-radius:5px;
}


#animated_div_search {
width:210px;
height:47px;
background: rgb(185, 1, 124);
color: #ffffff;
position: relative;
font-weight:bold;
font-size:20px;
padding:10px;
animation:animated_div 5s 1;
border-radius:5px;
-webkit-border-radius:5px;
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:500px;}
55% {transform: rotate(0deg);left:500px;}
70% {transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}