.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  width:100%; 
  /* position:absolute; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
  -webkit-backface-visibility: hidden;
}

div {
  display: inline-flex;
}

.giphy-li {
  display: inline;
  padding-right: 10px;
}

img {
  border-radius: 5px;
}

.search-bar {

  padding-bottom: 15px;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
  height: 21px;
  font-size: 15px;
  font-family: 'Helvetica';
  margin-right: 2px;
  padding: 0;
  border: 1px solid lightgray;
}

button {
  padding: 6px;
  border: none;
  font-size: 10px;
}
.hover-wrapper {
position: relative;

}
.hover-wrapper:hover .hover-inner {
  display: flex;
}

.hover-inner {
  width: 100%;
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 0;
  background-color: #ff0000;
  /* overflow: hidden; */
  box-sizing: border-box;
}

.hover-inner p {
  display: inline;
  align-self: center;
  padding: 1px;
}

.hover-inner a {
  padding: 2px;
  display: inline;
    align-self: center;
}
